In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:


# Caminho do arquivo CSV no Google Drive
csv_file = '/content/drive/My Drive/Dados TB 13-23/dados_tuberculose_2013_2023.csv'

df = pd.read_csv(csv_file, encoding='latin1', low_memory=False)

In [19]:


# Caminho do arquivo CSV no Google Drive
csv_file = '/content/drive/My Drive/Dados TB 13-23/dados_tuberculose_2013_2023.csv'

df = pd.read_csv(csv_file, encoding='latin1', low_memory=False)

In [2]:
# Resumo das colunas e tipos de dados
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030663 entries, 0 to 1030662
Data columns (total 97 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   TP_NOT      1030663 non-null  int64
 1   ID_AGRAVO   1030663 non-null  object
 2   DT_NOTIFIC  1030663 non-null  object
 3   NU_ANO      1030663 non-null  int64
 4   SG_UF_NOT   1030663 non-null  int64
 5   ID_MUNICIP  1030662 non-null  float64
 6   ID_REGIONA  790102 non-null   float64
 7   DT_DIAG     1030663 non-null  object
 8   ANO_NASC    1023227 non-null  object
 9   NU_IDADE_N  1030521 non-null  float64
 10  CS_SEXO     1030663 non-null  object
 11  CS_GESTANT  946296 non-null   float64
 12  CS_RACA     1003267 non-null  float64
 13  CS_ESCOL_N  985227 non-null   float64
 14  SG_UF       1030663 non-null  int64
 15  ID_MN_RESI  1030663 non-null  int64
 16  ID_RG_RESI  788427 non-null   float64
 17  ID_PAIS     899079 non-null   float64
 18  NDUPLIC_N   484781 non-null   float64
 19  IN_VINCULA  489110 non-null   float64
 20  DT_DIGITA   465684 non-null   object
 21  DT_TRANSUS  5807 non-null     object
 22  DT_TRANSDM  0 non-null        float64
 23  DT_TRANSSM  0 non-null        float64
 24  DT_TRANSRM  0 non-null        float64
 25  DT_TRANSRS  0 non-null        float64
 26  DT_TRANSSE  0 non-null        float64
 27  CS_FLXRET   0 non-null        float64
 28  FLXRECEBI   0 non-null        float64
 29  MIGRADO_W   433395 non-null   float64
 30  ID_OCUPA_N  250642 non-null   float64
 31  TRATAMENTO  1030663 non-null  int64
 32  INSTITUCIO  433419 non-null   float64
 33  RAIOX_TORA  1019461 non-null  float64
 34  TESTE_TUBE  433418 non-null   float64
 35  FORMA       1030506 non-null  float64
 36  EXTRAPU1_N  950635 non-null   object
 37  EXTRAPU2_N  433837 non-null   float64
 38  EXTRAPUL_O  14534 non-null    object
 39  AGRAVAIDS   1020623 non-null  float64
 40  AGRAVALCOO  1021616 non-null  float64
 41  AGRAVDIABE  1021018 non-null  float64
 42  AGRAVDOENC  1019194 non-null  float64
 43  AGRAVOUTRA  838161 non-null   float64
 44  AGRAVOUTDE  85651 non-null    object
 45  BACILOSC_E  1030518 non-null  float64
 46  BACILOS_E2  433444 non-null   object
 47  BACILOSC_O  559784 non-null   float64
 48  CULTURA_ES  1030518 non-null  float64
 49  CULTURA_OU  535825 non-null   float64
 50  HIV         1028576 non-null  float64
 51  HISTOPATOL  985982 non-null   float64
 52  DT_INIC_TR  997341 non-null   object
 53  RIFAMPICIN  433411 non-null   float64
 54  ISONIAZIDA  433411 non-null   float64
 55  ETAMBUTOL   433411 non-null   float64
 56  ESTREPTOMI  433409 non-null   float64
 57  PIRAZINAMI  433411 non-null   float64
 58  ETIONAMIDA  433413 non-null   object
 59  OUTRAS      433409 non-null   float64
 60  OUTRAS_DES  180943 non-null   object
 61  TRAT_SUPER  563457 non-null   float64
 62  NU_CONTATO  1010102 non-null  float64
 63  DOENCA_TRA  433418 non-null   float64
 64  SG_UF_AT    1029166 non-null  float64
 65  ID_MUNIC_A  1028917 non-null  float64
 66  DT_NOTI_AT  794741 non-null   object
 67  SG_UF_2     895571 non-null   float64
 68  ID_MUNIC_2  894140 non-null   float64
 69  BACILOSC_1  880143 non-null   float64
 70  BACILOSC_2  853098 non-null   float64
 71  BACILOSC_3  832925 non-null   float64
 72  BACILOSC_4  815460 non-null   float64
 73  BACILOSC_5  798666 non-null   float64
 74  BACILOSC_6  782653 non-null   float64
 75  TRATSUP_AT  893798 non-null   float64
 76  DT_MUDANCA  433398 non-null   object
 77  NU_COMU_EX  929174 non-null   float64
 78  SITUA_9_M   433462 non-null   float64
 79  SITUA_12_M  88720 non-null    float64
 80  SITUA_ENCE  999131 non-null   float64
 81  DT_ENCERRA  962963 non-null   object
 82  TPUNINOT    814688 non-null   float64
 83  POP_LIBER   1018268 non-null  float64
 84  POP_RUA     1016592 non-null  float64
 85  POP_SAUDE   1016350 non-null  float64
 86  POP_IMIG    1015600 non-null  float64
 87  BENEF_GOV   876725 non-null   float64
 88  AGRAVDROGA  1019029 non-null  float64
 89  AGRAVTABAC  1018818 non-null  float64
 90  TEST_MOLEC  992885 non-null   float64
 91  TEST_SENSI  743464 non-null   float64
 92  ANT_RETRO   568636 non-null   float64
 93  BAC_APOS_6  605055 non-null   float64
 94  TRANSF      477671 non-null   float64
 95  UF_TRANSF   50114 non-null    float64
 96  MUN_TRANSF  40499 non-null    object
dtypes: float64(73), int64(6), object(18)
memory usage: 762.7+ MB
None

** Principais Variáveis**
*  TP_NOT: Tipo de notificação.
* ID_AGRAVO: Código do agravo.
* DT_NOTIFIC: Data de notificação.
* NU_ANO: Ano da notificação.
* SG_UF_NOT: Unidade Federativa (UF) da notificação.
* ID_MUNICIP: Código do município de notificação.
* DT_DIAG: Data do diagnóstico.
* ANO_NASC: Ano de nascimento do paciente.
* NU_IDADE_N: Idade do paciente em dias.
* BENEF_GOV: Indica se o paciente é beneficiário de programa de transferência de renda.
* AGRAVDROGA: Uso de drogas ilícitas associado à tuberculose.
* AGRAVTABAC: Tabagismo associado à tuberculose.
* TEST_MOLEC: Resultado do teste molecular rápido para tuberculose.
* TEST_SENSI: Resultado do teste de sensibilidade (resistência a medicamentos).
* ANT_RETRO: Uso de terapia antirretroviral durante o tratamento de tuberculose.
* BAC_APOS_6: Resultado da baciloscopia de escarro realizada após o 6º mês de tratamento.
* TRANSF: Indica se houve transferência do paciente.
* UF_TRANSF: Unidade Federativa de destino em caso de transferência.
* MUN_TRANSF: Município de destino em caso de transferência.
* TP_ENTRADA: Tipo de entrada do paciente (ex.: caso novo, recidiva, reingresso após abandono, transferência, etc.).
* FORMA: Forma clínica da tuberculose (ex.: pulmonar, extrapulmonar, etc.).
* AGRAVAIDS: Indica coinfecção por HIV/AIDS.
* AGRAVDIABE: Indica diabetes associada à tuberculose.
* AGRAVALCOO: Indica alcoolismo associado à tuberculose.
* RAIOX_TORA: Resultado da radiografia de tórax.
* HIV: Resultado do teste de HIV.
* CULTURA_ES: Resultado da cultura de escarro para tuberculose.
* DT_INIC_TR: Data de início do tratamento atual.
* NU_CONT_EX: Número total de contatos examinados durante a investigação e acompanhamento do caso.
* SITUA_ENCE: Situação de encerramento do caso (ex.: cura, abandono, óbito por TB, transferência, etc.).

In [3]:
# Estatísticas básicas das colunas numéricas
print(df.describe())

          TP_NOT        NU_ANO     SG_UF_NOT    ID_MUNICIP     ID_REGIONA  \
count  1030663.0  1.030663e+06  1.030663e+06  1.030662e+06  790102.000000
mean         2.0  2.018296e+03  3.120348e+01  3.135945e+05     692.731327
std          0.0  3.206546e+00  9.187508e+00  9.228781e+04    1026.819548
min          2.0  1.981000e+03  1.100000e+01  0.000000e+00       0.000000
25%          2.0  2.016000e+03  2.600000e+01  2.607900e+05     137.000000
50%          2.0  2.018000e+03  3.300000e+01  3.304550e+05     151.000000
75%          2.0  2.021000e+03  3.500000e+01  3.550300e+05    1446.000000
max          2.0  2.024000e+03  5.300000e+01  5.300100e+05    6256.000000

         NU_IDADE_N     CS_GESTANT       CS_RACA     CS_ESCOL_N         SG_UF  \
count  1.030521e+06  946296.000000  1.003267e+06  985227.000000  1.030663e+06
mean   4.031932e+03       5.611312  3.088065e+00       4.589354  3.118354e+01
std    1.315187e+02       1.228703  1.960786e+00       3.026682  9.189567e+00
min    0.000000e+00       0.000000  0.000000e+00       0.000000  0.000000e+00
25%    4.027000e+03       5.000000  1.000000e+00       2.000000  2.600000e+01
50%    4.038000e+03       6.000000  4.000000e+00       4.000000  3.300000e+01
75%    4.052000e+03       6.000000  4.000000e+00       7.000000  3.500000e+01
max    4.119000e+03       9.000000  9.000000e+00      10.000000  5.300000e+01

       ...      POP_IMIG      BENEF_GOV    AGRAVDROGA    AGRAVTABAC  \
count  ...  1.015600e+06  876725.000000  1.019029e+06  1.018818e+06
mean   ...  1.976901e+00       2.475047  2.037968e+00  1.943275e+00
std    ...  1.477078e+00       2.845235  1.819182e+00  1.788476e+00
min    ...  0.000000e+00       0.000000  0.000000e+00  0.000000e+00
25%    ...  2.000000e+00       1.000000  2.000000e+00  1.000000e+00
50%    ...  2.000000e+00       2.000000  2.000000e+00  2.000000e+00
75%    ...  2.000000e+00       2.000000  2.000000e+00  2.000000e+00
max    ...  9.000000e+00       9.000000  9.000000e+00  9.000000e+00

          TEST_MOLEC     TEST_SENSI      ANT_RETRO     BAC_APOS_6  \
count  992885.000000  743464.000000  568636.000000  605055.000000
mean        3.054717       4.159107       0.715539       1.447021
std         2.140307       3.162812       1.411470       1.670462
min         0.000000       0.000000       0.000000       0.000000
25%         1.000000       0.000000       0.000000       0.000000
50%         5.000000       5.000000       0.000000       0.000000
75%         5.000000       7.000000       1.000000       3.000000
max         9.000000       9.000000       9.000000       9.000000

              TRANSF     UF_TRANSF
count  477671.000000  50114.000000
mean        0.296865     30.482320
std         0.971158      9.629406
min         0.000000      9.000000
25%         0.000000     26.000000
50%         0.000000     32.000000
75%         0.000000     33.000000
max         9.000000     53.000000

[8 rows x 79 columns]

Situações de encerramento (SITUA_ENCE)

1. Cura
2. Abandono
3. Óbito por TB
4. Óbito por outras causas
5. Transferência
6. Mudança de Diagnóstico
7. TB-DR
8. Mudança de Esquema
9. Falência
10. Abandono Primário


**DESFECHOS DE INTERESSE:**

* Cura = 1
* Abandono = 2 e 10
* Óbito = 3
* TB-DR = 7 ??

In [4]:
# Verificar valores únicos da variável de desfecho
print(df['SITUA_ENCE'].value_counts())

SITUA_ENCE
 1.0     662502
 2.0     140315
 5.0      65187
 4.0      43635
 3.0      39181
 0.0      11542
 7.0      10797
 6.0      10555
 10.0      8023
 8.0       6651
 9.0        742
-1.0          1
Name: count, dtype: int64

In [5]:
# Verificar os valores únicos da variável ID_AGRAVO
print(df['ID_AGRAVO'].unique())

# Contar a frequência de cada valor
print(df['ID_AGRAVO'].value_counts())

['A169' 'A16.' 'A144']
ID_AGRAVO
A169    1030659
A16.          3
A144          1
Name: count, dtype: int64

Remover linhas:
A16.(3 registros): Tuberculose pulmonar sem confirmação bacteriológica ou histológica.
A144(1 registro): Tuberculose do sistema geniturinário.

Remover a variável, pois não tem valor preditivo se todos os regitros são = A16.9

In [6]:
# Filtrar apenas registros com ID_AGRAVO igual a 'A169'
df = df[df['ID_AGRAVO'] == 'A169']

# Remover a coluna ID_AGRAVO
df = df.drop(columns=['ID_AGRAVO'], errors='ignore')

In [7]:
# Lista de colunas sem valor preditivo e com altos valores ausentes
columns_to_drop = [
    'TP_NOT',      # Tipo de notificação, sempre será individual, irrelevante para o modelo.
    'DT_NOTIFIC',  # Data da notificação não contribui para prever o abandono.
    'ANO_NASC',    # Ano de nascimento já é representado por idade (NU_IDADE_N).
    'NDUPLIC_N',   # Indicador de duplicidade da notificação, irrelevante para o modelo.
    'DT_TRANSDM',  # Data de transmissão ao nível estadual (Distrito de Saúde), irrelevante.
    'DT_TRANSSM',  # Data de transmissão ao nível estadual (Vigilância Sanitária), irrelevante.
    'DT_TRANSRM',  # Data de transmissão ao nível municipal, irrelevante.
    'DT_TRANSRS',  # Data de transmissão ao nível estadual (Regional de Saúde), irrelevante.
    'DT_TRANSSE',  # Data de transmissão ao nível estadual (Região Sudeste), irrelevante.
    'CS_FLXRET',   # Indicador de fluxo de retorno, sem preenchimento no dataset.
    'FLXRECEBI',   # Indicador de fluxo recebido, sem preenchimento no dataset.
    'MIGRADO_W',   # Indicador de migração entre sistemas, irrelevante para o modelo.
    'DT_DIGITA',   # Data da digitação da notificação, sem relação com o abandono.
    'DT_TRANSUS',  # Data de transmissão para o SUS, irrelevante.
    'EXTRAPUL_O',  # Formas extrapulmonares detalhadas, irrelevante e com muitos missing.
    'MUN_TRANSF',  # Município de transferência, irrelevante para o modelo.
    'UF_TRANSF',   # Unidade Federativa de transferência, irrelevante.
    'AGRAVOUTDE',   # Descrição de outras comorbidades, alta ausência e pouco impacto.
    'IN_VINCULA',   # Indica se a notificação está vinculada a outra (ex.: continuidade de um caso anterior). Já essa informação em tipo de entrada
    'INSTITUCIO'   # Identifique uma instituição de saúde responsável pela notificação, irrelevant
]

# Remover as colunas do DataFrame
df = df.drop(columns=columns_to_drop, errors='ignore')

# Verificar as colunas restantes
print("Colunas restantes no DataFrame após remoção:")
print(df.columns)

Colunas restantes no DataFrame após remoção:
Index(['NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA', 'DT_DIAG',
       'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF',
       'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'ID_OCUPA_N', 'TRATAMENTO',
       'RAIOX_TORA', 'TESTE_TUBE', 'FORMA', 'EXTRAPU1_N', 'EXTRAPU2_N',
       'AGRAVAIDS', 'AGRAVALCOO', 'AGRAVDIABE', 'AGRAVDOENC', 'AGRAVOUTRA',
       'BACILOSC_E', 'BACILOS_E2', 'BACILOSC_O', 'CULTURA_ES', 'CULTURA_OU',
       'HIV', 'HISTOPATOL', 'DT_INIC_TR', 'RIFAMPICIN', 'ISONIAZIDA',
       'ETAMBUTOL', 'ESTREPTOMI', 'PIRAZINAMI', 'ETIONAMIDA', 'OUTRAS',
       'OUTRAS_DES', 'TRAT_SUPER', 'NU_CONTATO', 'DOENCA_TRA', 'SG_UF_AT',
       'ID_MUNIC_A', 'DT_NOTI_AT', 'SG_UF_2', 'ID_MUNIC_2', 'BACILOSC_1',
       'BACILOSC_2', 'BACILOSC_3', 'BACILOSC_4', 'BACILOSC_5', 'BACILOSC_6',
       'TRATSUP_AT', 'DT_MUDANCA', 'NU_COMU_EX', 'SITUA_9_M', 'SITUA_12_M',
       'SITUA_ENCE', 'DT_ENCERRA', 'TPUNINOT', 'POP_LIBER', 'POP_RUA',
       'POP_SAUDE', 'POP_IMIG', 'BENEF_GOV', 'AGRAVDROGA', 'AGRAVTABAC',
       'TEST_MOLEC', 'TEST_SENSI', 'ANT_RETRO', 'BAC_APOS_6', 'TRANSF'],
      dtype='object')

In [8]:
# Verificar a proporção de valores ausentes
print(df.isnull().mean().sort_values(ascending=False))

SITUA_12_M    0.913921
OUTRAS_DES    0.824443
ID_OCUPA_N    0.756818
DT_MUDANCA    0.579498
OUTRAS        0.579487
                ...
SG_UF_NOT     0.000000
SG_UF         0.000000
ID_MN_RESI    0.000000
TRATAMENTO    0.000000
NU_ANO        0.000000
Length: 76, dtype: float64

In [9]:
# Listar colunas com mais de 50% de valores ausentes
missing_cols = df.columns[df.isnull().mean() > 0.5]
print("Colunas com mais de 50% de valores ausentes:", missing_cols)

Colunas com mais de 50% de valores ausentes: Index(['ID_OCUPA_N', 'TESTE_TUBE', 'EXTRAPU2_N', 'BACILOS_E2', 'RIFAMPICIN',
       'ISONIAZIDA', 'ETAMBUTOL', 'ESTREPTOMI', 'PIRAZINAMI', 'ETIONAMIDA',
       'OUTRAS', 'OUTRAS_DES', 'DOENCA_TRA', 'DT_MUDANCA', 'SITUA_9_M',
       'SITUA_12_M', 'TRANSF'],
      dtype='object')

In [10]:
import pandas as pd

# Lista de colunas com mais de 50% de valores ausentes
colunas_ausentes = [
    'ID_OCUPA_N', 'TESTE_TUBE', 'EXTRAPU2_N', 'BACILOS_E2', 'RIFAMPICIN',
    'ISONIAZIDA', 'ETAMBUTOL', 'ESTREPTOMI', 'PIRAZINAMI', 'ETIONAMIDA',
    'OUTRAS', 'OUTRAS_DES', 'DOENCA_TRA', 'DT_MUDANCA', 'SITUA_9_M',
    'SITUA_12_M', 'TRANSF'
]

# Nome da coluna de ano
coluna_ano = 'NU_ANO'

# Verificar valores únicos na coluna NU_ANO
print("Valores únicos na coluna NU_ANO antes do filtro:")
print(df[coluna_ano].unique())

# Filtrar para incluir apenas os anos entre 2013 e 2023
df = df[df[coluna_ano].between(2013, 2023)]

# Verificar valores únicos após o filtro
print("\nValores únicos na coluna NU_ANO após o filtro:")
print(df[coluna_ano].unique())

# Analisar a proporção de preenchimento para cada variável em cada ano
for coluna in colunas_ausentes:
    if coluna in df.columns:
        print(f"\nPreenchimento da variável '{coluna}' por ano:")
        preenchimento_por_ano = (
            df.groupby(coluna_ano)[coluna].apply(lambda x: x.notna().mean() * 100)
        )
        print(preenchimento_por_ano)
    else:
        print(f"\nA coluna '{coluna}' não está presente no DataFrame.")

Valores únicos na coluna NU_ANO antes do filtro:
[2013 2014 2015 2016 2017 2018 2022 2004 2012 2002 1990 1991 2007 1989
 2011 1988 2010 2001 2019 2021 2020 1995 1992 1987 2009 1998 1981 1985
 2006 1999 1997 1983 1993 2003 2008 2023 2024]

Valores únicos na coluna NU_ANO após o filtro:
[2013 2014 2015 2016 2017 2018 2022 2019 2021 2020 2023]

Preenchimento da variável 'ID_OCUPA_N' por ano:
NU_ANO
2013    49.289247
2014    38.394205
2015     0.518676
2016    96.575662
2017    99.750933
2018     3.318792
2019     0.223268
2020     0.082728
2021     0.026703
2022     0.013141
2023     0.001752
Name: ID_OCUPA_N, dtype: float64

Preenchimento da variável 'TESTE_TUBE' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.016643
Name: TESTE_TUBE, dtype: float64

Preenchimento da variável 'EXTRAPU2_N' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.524764
2019      0.322274
2020      0.147324
2021      0.099337
2022      0.069459
2023      0.062192
Name: EXTRAPU2_N, dtype: float64

Preenchimento da variável 'BACILOS_E2' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.403293
2019      0.249535
2020      0.095194
2021      0.036317
2022      0.019711
2023      0.020147
Name: BACILOS_E2, dtype: float64

Preenchimento da variável 'RIFAMPICIN' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.011387
Name: RIFAMPICIN, dtype: float64

Preenchimento da variável 'ISONIAZIDA' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.011387
Name: ISONIAZIDA, dtype: float64

Preenchimento da variável 'ETAMBUTOL' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.011387
Name: ETAMBUTOL, dtype: float64

Preenchimento da variável 'ESTREPTOMI' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.009635
Name: ESTREPTOMI, dtype: float64

Preenchimento da variável 'PIRAZINAMI' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.011387
Name: PIRAZINAMI, dtype: float64

Preenchimento da variável 'ETIONAMIDA' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.088394
2021      0.030976
2022      0.019711
2023      0.012263
Name: ETIONAMIDA, dtype: float64

Preenchimento da variável 'OUTRAS' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.395900
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.010511
Name: OUTRAS, dtype: float64

Preenchimento da variável 'OUTRAS_DES' por ano:
NU_ANO
2013     2.828679
2014     2.381795
2015     0.187756
2016    96.575662
2017    99.750933
2018     3.318792
2019     0.223268
2020     0.082728
2021     0.026703
2022     0.013141
2023     0.005256
Name: OUTRAS_DES, dtype: float64

Preenchimento da variável 'DOENCA_TRA' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.396956
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.016643
Name: DOENCA_TRA, dtype: float64

Preenchimento da variável 'DT_MUDANCA' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.395900
2019      0.245494
2020      0.087261
2021      0.030976
2022      0.019711
2023      0.001752
Name: DT_MUDANCA, dtype: float64

Preenchimento da variável 'SITUA_9_M' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018      3.414912
2019      0.255597
2020      0.094061
2021      0.038453
2022      0.023466
2023      0.017519
Name: SITUA_9_M, dtype: float64

Preenchimento da variável 'SITUA_12_M' por ano:
NU_ANO
2013     1.691473
2014     1.212722
2015     0.185409
2016    96.575662
2017     3.391744
2018     0.169003
2019     0.059606
2020     0.024932
2021     0.001068
2022     0.005632
2023     0.004380
Name: SITUA_12_M, dtype: float64

Preenchimento da variável 'TRANSF' por ano:
NU_ANO
2013    100.000000
2014    100.000000
2015    100.000000
2016    100.000000
2017    100.000000
2018     10.065172
2019      6.776853
2020      6.659036
2021      7.386163
2022      7.734402
2023      8.875906
Name: TRANSF, dtype: float64

Significado das Variáveis ​​com mais de 50% de valores ausentes


**RELEVANTES**

ID_OCUPA_N: Código de ocupação do paciente -> Pode ter alguma relevância dependendo da ocupação estar associada ao abandono (ex.: trabalhadores informais, desempregados).

TESTE_TUBE: Indica se o teste rápido para tuberculose foi realizado.
Relevância : Pode ser relevante, pois a realização ou não do teste pode influenciar o desfecho.

EXTRAPU2_N: Informação sobre uma forma extrapulmonar adicional da tuberculose.
Pode ser relevante em casos específicos, mas associada diretamente ao abandono.

BACILOS_E2: Resultado do segundo exame de baciloscopia, se realizado.
Relevância : Alta, pois exames complementares podem estar associados ao seguimento do tratamento.

RESITÊNCIA (ALTA RELEVANCIA, PORÉM NEM SEMPRE É RELIZADO, SOBRETUDO NAS DATAS ANTERIORES)

RIFAMPICIN:Resistência à rifampicina
ISONIAZIDA:Resistência à isoniazida
ETAMBUTOL:Resistência ao etambutol
ESTREPTOMI:Resistência à estreptomicina (antibiótico usado sem tratamento).
PIRAZINAMI: Resistência à pirazinamida (medicamento usado sem tratamento).
ETIONAMIDA: Resistência à etionamida (medicamento usado sem tratamento).
OUTRAS_DES:Resistência a outros m relevante se bem preenchido.


DOENCA_TRA:Indica doenças tratadas em conjunto com a tuberculose.
Relevância : Moderada, pois comorbidades podem influenciar o abandono.

DT_MUDANCA:Dados de mudança de esquema terapêutico.
Relevância : Alta, pois mudança no esquema pode indicar complicações no tratamento -> preciso ver se há outras colunas que dizem a mesma coisa


**Nem sempre serão preenchidos**
Tto pode durar 6 meses:
SITUA_9_M: Situação de acompanhamento após 9 meses de tratamento.
SITUA_12_M: Situação de acompanhamento após 12 meses de tratamento.

Pode não haver tranferencia
TRANSF: Indica transferência do paciente para outra unidade de saúde.

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1025965 entries, 0 to 1030649
Data columns (total 76 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   NU_ANO      1025965 non-null  int64
 1   SG_UF_NOT   1025965 non-null  int64
 2   ID_MUNICIP  1025964 non-null  float64
 3   ID_REGIONA  787156 non-null   float64
 4   DT_DIAG     1025965 non-null  object
 5   NU_IDADE_N  1025825 non-null  float64
 6   CS_SEXO     1025965 non-null  object
 7   CS_GESTANT  942259 non-null   float64
 8   CS_RACA     999572 non-null   float64
 9   CS_ESCOL_N  980847 non-null   float64
 10  SG_UF       1025965 non-null  int64
 11  ID_MN_RESI  1025965 non-null  int64
 12  ID_RG_RESI  785494 non-null   float64
 13  ID_PAIS     895422 non-null   float64
 14  ID_OCUPA_N  250614 non-null   float64
 15  TRATAMENTO  1025965 non-null  int64
 16  RAIOX_TORA  1014870 non-null  float64
 17  TESTE_TUBE  433351 non-null   float64
 18  FORMA       1025809 non-null  float64
 19  EXTRAPU1_N  945937 non-null   object
 20  EXTRAPU2_N  433770 non-null   float64
 21  AGRAVAIDS   1016042 non-null  float64
 22  AGRAVALCOO  1017031 non-null  float64
 23  AGRAVDIABE  1016441 non-null  float64
 24  AGRAVDOENC  1014638 non-null  float64
 25  AGRAVOUTRA  835038 non-null   float64
 26  BACILOSC_E  1025820 non-null  float64
 27  BACILOS_E2  433377 non-null   object
 28  BACILOSC_O  558676 non-null   float64
 29  CULTURA_ES  1025820 non-null  float64
 30  CULTURA_OU  534897 non-null   float64
 31  HIV         1023901 non-null  float64
 32  HISTOPATOL  981638 non-null   float64
 33  DT_INIC_TR  992930 non-null   object
 34  RIFAMPICIN  433345 non-null   float64
 35  ISONIAZIDA  433345 non-null   float64
 36  ETAMBUTOL   433345 non-null   float64
 37  ESTREPTOMI  433343 non-null   float64
 38  PIRAZINAMI  433345 non-null   float64
 39  ETIONAMIDA  433347 non-null   object
 40  OUTRAS      433343 non-null   float64
 41  OUTRAS_DES  180915 non-null   object
 42  TRAT_SUPER  562346 non-null   float64
 43  NU_CONTATO  1005766 non-null  float64
 44  DOENCA_TRA  433351 non-null   float64
 45  SG_UF_AT    1024538 non-null  float64
 46  ID_MUNIC_A  1024290 non-null  float64
 47  DT_NOTI_AT  791218 non-null   object
 48  SG_UF_2     891994 non-null   float64
 49  ID_MUNIC_2  890565 non-null   float64
 50  BACILOSC_1  877328 non-null   float64
 51  BACILOSC_2  850643 non-null   float64
 52  BACILOSC_3  830713 non-null   float64
 53  BACILOSC_4  813484 non-null   float64
 54  BACILOSC_5  796898 non-null   float64
 55  BACILOSC_6  781081 non-null   float64
 56  TRATSUP_AT  890741 non-null   float64
 57  DT_MUDANCA  433333 non-null   object
 58  NU_COMU_EX  926143 non-null   float64
 59  SITUA_9_M   433396 non-null   float64
 60  SITUA_12_M  88694 non-null    float64
 61  SITUA_ENCE  996449 non-null   float64
 62  DT_ENCERRA  960579 non-null   object
 63  TPUNINOT    811255 non-null   float64
 64  POP_LIBER   1013695 non-null  float64
 65  POP_RUA     1012036 non-null  float64
 66  POP_SAUDE   1011797 non-null  float64
 67  POP_IMIG    1011052 non-null  float64
 68  BENEF_GOV   873318 non-null   float64
 69  AGRAVDROGA  1014465 non-null  float64
 70  AGRAVTABAC  1014255 non-null  float64
 71  TEST_MOLEC  988439 non-null   float64
 72  TEST_SENSI  741003 non-null   float64
 73  ANT_RETRO   567462 non-null   float64
 74  BAC_APOS_6  604147 non-null   float64
 75  TRANSF      477147 non-null   float64
dtypes: float64(61), int64(5), object(10)
memory usage: 602.7+ MB
None

In [12]:
df.NU_IDADE_N

0          4058.0
1          4025.0
2          4076.0
3          4067.0
4          4035.0
            ...
1030645    4069.0
1030646    4023.0
1030647    4042.0
1030648    4089.0
1030649    4054.0
Name: NU_IDADE_N, Length: 1025965, dtype: float64

In [13]:
df.TEST_SENSI.value_counts()

TEST_SENSI
7.0    334130
0.0    259004
5.0    113195
6.0     21512
1.0      4066
4.0      3022
3.0      2439
2.0      1909
9.0      1720
8.0         6
Name: count, dtype: int64

In [14]:
df.RIFAMPICIN.value_counts()

RIFAMPICIN
0.0    319305
1.0    111591
2.0      2239
9.0       210
Name: count, dtype: int64

In [15]:
# Função para converter o campo composto de NU_IDADE_N para idade em anos
def converter_idade(idade):
    if pd.isna(idade):
        return None
    idade = str(int(idade)).zfill(3)  # Garantir que a idade tenha 3 dígitos
    unidade = int(idade[0])  # Primeiro dígito representa a unidade
    quantidade = int(idade[1:])  # Últimos dois dígitos representam a quantidade

    # Conversão de acordo com a unidade
    if unidade == 0:  # Menor que 1 hora
        return 0
    elif unidade == 1:  # Horas
        return 0  # Consideramos como menos de 1 dia = 0 anos
    elif unidade == 2:  # Dias
        return round(quantidade / 365, 2)  # Converter dias para anos
    elif unidade == 3:  # Meses
        return round(quantidade / 12, 2)  # Converter meses para anos
    elif unidade == 4:  # Anos (até 99)
        return quantidade
    elif unidade == 5:  # Anos (mais de 100 anos)
        return 100 + quantidade
    else:
        return None  # Caso unidade desconhecida

# Aplicar a função na coluna NU_IDADE_N
df['IDADE_ANOS'] = df['NU_IDADE_N'].apply(converter_idade)

# Verificar os resultados
print("Estatísticas descritivas da idade em anos:")
print(df['IDADE_ANOS'].describe())

# Opcional: verificar as primeiras linhas para garantir que a conversão foi feita corretamente
print("\nPrimeiras linhas com a conversão:")
print(df[['NU_IDADE_N', 'IDADE_ANOS']].head())

Estatísticas descritivas da idade em anos:
count    1.025825e+06
mean     4.002716e+01
std      1.717211e+01
min      0.000000e+00
25%      2.700000e+01
50%      3.800000e+01
75%      5.200000e+01
max      1.190000e+02
Name: IDADE_ANOS, dtype: float64

Primeiras linhas com a conversão:
   NU_IDADE_N  IDADE_ANOS
0      4058.0        58.0
1      4025.0        25.0
2      4076.0        76.0
3      4067.0        67.0
4      4035.0        35.0

In [16]:
import pandas as pd

def substituir_na_por_ignorado(df):
    """
    Substitui valores ausentes (NA) por 9 em todas as colunas do DataFrame.
    Apenas aplica a substituição em colunas que possuem valores ausentes.

    Parâmetros:
    df (pd.DataFrame): DataFrame a ser processado.

    Retorna:
    pd.DataFrame: DataFrame com os valores ausentes substituídos por 9.
    """
    # Iterar sobre as colunas com valores ausentes
    colunas_com_na = df.columns[df.isna().any()]

    # Substituir NA por 9 em cada coluna identificada
    for coluna in colunas_com_na:
        if df[coluna].dtype in ['float64', 'int64']:  # Colunas numéricas
            df[coluna] = df[coluna].fillna(9)
        elif df[coluna].dtype == 'object':  # Colunas de texto
            df[coluna] = df[coluna].fillna('9')  # Texto como '9'

    return df

# Aplicar a função ao DataFrame
df = substituir_na_por_ignorado(df)

# Verificar o resultado
print("Valores ausentes após a substituição:")
print(df.isna().sum())

Valores ausentes após a substituição:
NU_ANO        0
SG_UF_NOT     0
ID_MUNICIP    0
ID_REGIONA    0
DT_DIAG       0
             ..
TEST_SENSI    0
ANT_RETRO     0
BAC_APOS_6    0
TRANSF        0
IDADE_ANOS    0
Length: 77, dtype: int64

DESFECHOS

In [18]:
# Criar a nova variável 'ABANDONO'
def definir_abandono(desfecho):
    """
    Define se o caso é abandono com base nos códigos da variável SITUA_ENCE.

    Parâmetros:
    desfecho: Valor original do desfecho (pode ser float, int ou NaN).

    Retorna:
    int: 1 se abandono (códigos 2 ou 10), 0 caso contrário.
    """
    if pd.isna(desfecho):
        return 0  # Considerar NA como "não abandono"
    if isinstance(desfecho, (int, float)):  # Se for número
        if int(desfecho) in [2, 10]:  # Verificar se é abandono ou abandono primário
            return 1
    return 0  # Demais casos não são abandono

# Aplicar a função e criar a nova variável
df['ABANDONO'] = df['SITUA_ENCE'].apply(definir_abandono)

# Verificar os resultados
print("Frequência de valores na nova variável 'ABANDONO':")
print(df['ABANDONO'].value_counts())

Frequência de valores na nova variável 'ABANDONO':
ABANDONO
0    878468
1    147497
Name: count, dtype: int64
Arquivo ajustado salvo com sucesso em: /content/drive/My Drive/Dados TB 13-23/dados_tuberculose_2013_2023_limpo.csv

In [19]:
# Salvar o DataFrame limpo em um arquivo CSV
output_file = '/content/drive/My Drive/Dados TB 13-23/dados_tuberculose_2013_2023_limpo.csv'

# Salva o DataFrame no formato CSV, sem o índice para facilitar a leitura
df.to_csv(output_file, index=False, encoding='utf-8')

print(f"Arquivo salvo com sucesso em: {output_file}")

Arquivo salvo com sucesso em: /content/drive/My Drive/Dados TB 13-23/dados_tuberculose_2013_2023_limpo.csv